html {
    scroll-behavior: smooth;
  }
body{
    background-image: url(https://me081098.s3.ap-south-1.amazonaws.com/4440058-hd-wallpapers.jpg);
    background-color: #cccccc;
    background-size: cover;
   
}

.square {
    width: 25%;
    height: 25%;
  }
  
  .square:after {
    content: "";
    display: block;
  
  }
.ratio{
    margin: auto;
        position: relative;
        display: block;
        max-width:40vh;
        width: auto;
        height: auto;
        border-radius: 100%;
}
.dp{
    margin: auto;
    margin-top: 70px;
    max-width: 40vh;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: -5vw;
    animation-name: bar;
    animation-duration: 1.5s;
}
.dp img{
    height: 100%;
    width: 100%;
}



@keyframes bar {
    0%{max-width: 0;}
  100%{max-width: 40vh;}
}

.holder{
    z-index: -1;
    padding-top: 5vw;
    background-color: rgba(255, 255, 255, 0.5);
    width: 50vw;
    height: 20vw;
    margin: auto;
    border-radius: 1.5vw;
    text-align: center;
}

.name{
    color: rgb(4, 4, 85);
    font-size: 7vw;
    font-family: 'Courier New', Courier, monospace;
}
.desc{
    color: rgb(4, 4, 85);
    font-size: 3vw;
    font-family: 'Courier New', Courier, monospace;
}

.head{
    margin-top: 3vw;
    color: rgb(255,255,255);
    font-size: 7vw;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    -webkit-text-stroke-width: 0.05vw;
    -webkit-text-stroke-color: black;
}

.project{
    margin-top: 2vw;
    height: 20vw;
    width: 98vw;
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    text-align: center;
    border-radius: 0.8vw;
    overflow: scroll;
}


.container{
    background-image: url(https://me081098.s3.ap-south-1.amazonaws.com/1.jpg);
    margin: 2vw;
    height: 15vw;
    width: 15vw;
    display: inline-block;
    
    border-radius: 2vw;
    position: relative;
    
    opacity: 0.8;
    background-size: cover;
}

.headC{
    margin-top: 5vw;
    color: rgb(255, 255, 255);
    font-size: 4vw;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.Contact{
    background-color: rgba(255, 255, 255, 0.5);
    width: 80vw;
    border-radius: 2vw;
    margin: auto;
    height: 8vw;
    align-items: center;
    top: 5%;
}

.icons{
    padding-top: 1vw;
    margin: auto;
    width: 75vw;
    text-align: center;
}

.tags {
    color: white;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.5vw ;
    
}
.anchor{
    text-align: right;
    height: 2.5vw;
    margin-bottom: -2vw;
}

.project_{
    margin-top: 2vw;
    height: 20vw;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    text-align: center;
    margin: auto;
    border-radius: 1vw;
    padding-top: 5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    overflow: scroll;
}

.about{
    color: rgb(4, 4, 85);
    font-size: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
    
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.up{
    width:60px;
	height:60px;
}



.p1{
    text-align: center;
    color: rgb(4, 4, 85);
    font-size: 3vw;
    font-family: 'Courier New', Courier, monospace;
}